.store {
	width: 100%;
}

.storeList {
	padding: 0;
}

.storeList li {
	padding: 1rem;
	list-style-type: none;
}

.storeList .blocked {
	opacity: 0.3;
	pointer-events: none;
}


.storeList .active {
	cursor: pointer;
	pointer-events: initial;
	opacity: 1;
	transition: background-color 0.3s ease-in;
}

.storeList .active{
	background-color: #ffffff;
}

.icon {
	width: 4rem;
	float: left;
}