.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	background: #673AB7;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.header h1 {
	font-size: 24px;
	font-weight: 400;
	color: #FFF;
}

.header span {
	font-size: 24px;
	font-weight: 400;
	color: #FFF;
}

