.cookie {
	cursor: pointer;
	display: block;

	background: none;
	border: none;

	margin: 0 auto;
	width: 15rem;
	height: 15rem;

	font-size: 10rem;
	outline: none;

	transition: transform 0.1s ease-in;
	filter: drop-shadow( 3px 3px 7px #000 );
}

.cookie:hover {
	transform: translate(-1px, -1px)
}

.cookie:active {
	transform: translate(-3px, -3px)
}