.stats {
	position: relative;
	margin: 1rem;

	padding: 0.2rem;
	padding-left: 2.2rem;

	font-family: 'Kalam', cursive;
}

.stats h1 {
	margin: 0;

	font-size: 2rem;
	font-weight: 700;
	text-align: center;
}

.stats {
	
	/* paper lines */
	/* original idea by Sarah Backhouse */
	background-color: #ffffff; 
	background-image: 
	linear-gradient(90deg, transparent 59px, #e26d52 59px, #e26d52 61px, transparent 61px),
	linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 1.2em;

	/* shadows */
	/* by Kunuk Nykjæ */
  box-shadow:
    /* The top layer shadow */
    0 -1px 1px rgba(0,0,0,0.15),
    /* The second layer */
    0 -10px 0 -5px #eee,
    /* The second layer shadow */
    0 -10px 1px -4px rgba(0,0,0,0.15),
     /* The third layer */
    0 -20px 0 -10px #eee,
    /* The third layer shadow */
		0 -20px 1px -9px rgba(0,0,0,0.15),
		0 0.8rem 0.8rem rgba(0,0,0,0.15);
}

.quantity, .cps {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.quantity {
	font-size: 2.5rem;
	width: 100%;
	word-break: break-all;
}

.cps {
	font-size: 1.2rem;
	word-break: break-all;
}

@media (min-width: 576px) {
	.quantity {
		width: 20rem;
	}
}
